if status is-interactive
{{- if eq .chezmoi.os "unix" }}
  if type -q brew
    set -gx CPPFLAGS -I(brew --prefix unixodbc)/include
    set -gx LDFLAGS -I(brew --prefix unixodbc)/lib
    set -gx KERL_CONFIGURE_OPTIONS \
    "--without-javac" \
    "--enable-wx" \
    "--with-odbc=$(brew --prefix unixodbc)"
  end
{{ end }}
end
