# vim:ft=toml.chezmoitmpl

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $location := "other" -}}
{{- if eq .chezmoi.fqdnHostname "debian9.ntls.local" "debian11.ntls.local" "debian12.ntls.local" -}}
{{-   $location = "work" -}}
{{- else if eq .chezmoi.fqdnHostname "AstuteMBP" "astutemanjaro" -}}
{{-   $location = "personal" -}}
{{- end -}}

{{- $asdf_all_tools_to_update := "('adr' 'just' 'fd' 'lazygit' 'lazydocker' 'pre-commit' 'delta')" -}}

encryption = "gpg"
format = "yaml"

[diff]
  exclude = ["scripts"]

[gpg]
  recipient = "F0353ACE2BC156F795D707E03BD453E1C45430E8"

[git]
  autoAdd = true

[data]
  location = {{ $location | quote }}
  osid = {{ $osid | quote }}
  is_macos = {{ eq .chezmoi.os "darwin" }}
  zdotdir = "{{.chezmoi.homeDir}}/.config/zsh"
  asdf_all_tools_to_update = {{$asdf_all_tools_to_update | quote}}
  {{- if ne $location "other" }}
  asdf_tools_to_install = {{$asdf_all_tools_to_update | quote}}
  {{ else }}
  asdf_tools_to_install = "('fd' 'just' 'delta')"
  {{ end -}}

[data.git]
{{- if eq $location "work" }}
  name = "Willam Rogers"
  email = "william.rogers@entelios.com"
  signing_key = "469E3543DCF12EB0"
{{ else }}
  name = "Will R"
  email = "github@astutecat.dev"
  signing_key = "3BD453E1C45430E8"
{{ end -}}
