# vim:ft=toml.chezmoitmpl

# git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
[".fzf"]
type = "git-repo"
url = "https://github.com/junegunn/fzf.git"
refreshPeriod = "672h"
[".fzf".clone]
args = ["--depth", "1"]
[".fzf".pull]
args = ["--quiet"]

[".local/tmux"]
type = "git-repo"
url = "https://github.com/gpakosz/.tmux.git"
refreshPeriod = "672h"
[".local/tmux".clone]
args = ["--depth", "1"]
[".local/tmux".pull]
args = ["--quiet"]

[".local/bin/tfg.py"]
type = "git-repo"
url = "https://github.com/4rtzel/tfg.git"
refreshPeriod = "672h"
[".local/bin/tfg.py".clone]
args = ["--depth", "1", "--quiet"]
[".local/bin/tfg.py".pull]
args = ["--quiet"]

[".local/bin/pert-bash"]
type = "git-repo"
url = "https://github.com/arzzen/pert.git"
refreshPeriod = "672h"
[".local/bin/pert-bash".clone]
args = ["--depth", "1", "--quiet"]
[".local/bin/pert-bash".pull]
args = ["--quiet"]

[".local/share/imhex/imhex-patterns"]
type = "git-repo"
url = "git@github.com:WerWolv/ImHex-Patterns.git"
refreshPeriod = "672h"
[".local/share/imhex/imhex-patterns".clone]
args = ["--depth", "1", "--quiet"]
[".local/share/imhex/imhex-patterns".pull]
args = ["--quiet"]

{{ if not .is_macos }}
[".local/bin/git-squash"]
  type = "file"
  url = "https://raw.githubusercontent.com/sheerun/git-squash/master/git-squash"
  refreshPeriod = "672h"
  executable = true
{{ end }}
