# vim:ft=toml.chezmoitmpl
encryption = "gpg"

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $location := "other" -}}
{{- if eq .chezmoi.fqdnHostname "debian9.ntls.local" "debian11.ntls.local" "debian12.ntls.local" "will-manjaro.ntls.local" -}}
{{-   $location = "work" -}}
{{- else if eq .chezmoi.fqdnHostname "AstuteMBP" "astutemanjaro" -}}
{{-   $location = "personal" -}}
{{- end -}}

format = "yaml"

[diff]
  exclude = ["scripts"]

[gpg]
  recipient = "F0353ACE2BC156F795D707E03BD453E1C45430E8"

[git]
  autoAdd = true

[data]
  location = {{ $location | quote }}
  osid = {{ $osid | quote }}
  is_macos = {{ eq .chezmoi.os "darwin" }}
  no_fonts = {{ or (eq $location "other") (eq .chezmoi.os "darwin") }}
  zdotdir = "{{.chezmoi.homeDir}}/.config/zsh"
  on_d9 = {{ eq .chezmoi.fqdnHostname "debian9.ntls.local" }}
  devbox_beam = {{ ne $location "other" }}

[data.git]
{{- if eq $location "work" }}
  name = "Willam Rogers"
  email = "william.rogers@entelios.com"
  signing_key = "469E3543DCF12EB0"
{{ else }}
  name = "Will R"
  email = "github@astutecat.dev"
  signing_key = "3BD453E1C45430E8"
{{ end -}}
