# yamllint disable rule:document-start
default_install_hook_types: [pre-commit, commit-msg]
default_stages:
  - pre-commit
repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
        exclude: "^\\.chezmoi.*\\.toml"
      - id: mixed-line-ending
        args: [--fix=lf]
  - repo: https://github.com/Calinou/pre-commit-luacheck
    rev: v1.0.0
    hooks:
      - id: luacheck
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
