# vim:ft=gitconfig.chezmoitmpl

# This is Git's per-user configuration file.
[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
	signingKey = {{ .git.signing_key }}
{{- if ne .location "other" }}
[diff]
	tool = bc3
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[difftool "bc3"]
	trustExitCode = true
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
[gui]
  pruneduringfetch = true
[smartgit "submodule"]
  fetchalways = false
  update = true
  initializenew = true
{{ end -}}
[gc]
	autoDetach = false
[init]
	defaultBranch = main
[core]
	editor = nvim
[advice]
	detachedHead = false
[rebase]
	autoStash = true
[push]
	recurseSubmodules = check
	default = current
	autoSetupRemote = true
[commit]
  gpgSign = false
[pull]
	rebase = false
