# vim:ft=gitconfig.chezmoitmpl

# This is Git's per-user configuration file.
[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
	signingKey = {{ .git.signing_key }}
{{- if ne .location "other" }}
[diff]
	tool = bc3
{{ end -}}
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[difftool "bc3"]
	trustExitCode = true
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
[gc]
	autoDetach = false
[init]
	defaultBranch = main
[core]
	editor = nvim
[advice]
	detachedHead = false
