#!/bin/zsh
# vim: ft=zsh.chezmoitmpl:
# [[ -n $(command -v asdf) ]] || return;
# run() {
#   source "${XDG_CONFIG_HOME:-$HOME/.config}/asdf/utils.zsh"
#
#   local tools_to_install={{.asdf_tools_to_install}}
#
#   for tool in "${tools_to_install[@]}"; do
#     [[ -n $(command -v "$tool") ]] && continue
#
#     local plugin_name=$(get_plugin_name "$tool")
#     local maybe_plugin_url=$(get_plugin_url "$tool")
#
#     asdf plugin add "$plugin_name" "$maybe_plugin_url"
#     asdf install "$plugin_name" latest
#     asdf global "$plugin_name" latest
#   done
# }
#
# (run)
