#!/bin/zsh
{{ if not .no_fonts }}

selected_fonts=("IosevkaTerm" "Monaspace" "Iosevka" "NerdFontsSymbolsOnly")

mkdir -p "/tmp/font-download"

for font in "${selected_fonts[@]}"; do
    font_install_dir="$HOME/.local/share/fonts/$font"
    if [ -d "$font_install_dir" ]; then
      continue
    else
      mkdir -p "$font_install_dir"
    fi

    echo ""
    printf "%b\n" '\033[0;34mDownloading and installing '"$font"'\033[0m'
    font_name=$(printf "%b\n" "$font" | awk '{print $1}')
    gh release download --dir "/tmp/font-download/" --repo ryanoasis/nerd-fonts --pattern "$font_name.tar.xz"
    tar -xJf "/tmp/font-download/$font_name.tar.xz" --directory="$font_install_dir"
    rm "/tmp/font-download/$font_name.tar.xz"
done

{{ end }}
