#!/usr/bin/env fish

if not type -q fisher
  echo "installing fisher"
  curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
end

if fisher list "jorgebucaran/hydro"
  fisher remove jorgebucaran/hydro
end

if fisher list "pure-fish/pure"
  fisher remove pure-fish/pure
end

fisher install IlanCosman/tide@v6

tide configure --auto --style=Lean --prompt_colors='True color' --show_time=No --lean_prompt_height='Two lines' --prompt_connection=Disconnected --prompt_spacing=Sparse --icons='Few icons' --transient=No
