# vim: ft=zsh.chezmoitmpl

alias hl='printf %"$COLUMNS"s |tr " " "-"'
alias lcl='hl && clear'

# NOTE: A lot of aliases are now managed via atuin.

if [[ -n $(command -v "just") ]]; then
  if [[ -f "$HOME/.user.justfile" ]]; then
    alias .just="just --justfile $HOME/.user.justfile --working-directory ."
    alias .j=".just"

    alias dotfiles=".j dotfiles"
    alias trn=".j trn"
  fi
fi


if [[ -n $(command -v "npx") ]]; then
  alias log4brains='npx log4brains'
fi

alias ls='ls --color=auto'

if [[ -z $(command -v "eza") ]]; then
  alias ll='ls --color=auto -l'
  alias lal='ls --color=auto -al'
  alias la='ls --color=auto -a'
fi

alias dir='dir --color=auto'

if [[ -n $(command -v "docker") ]]; then
  alias kamal="docker run -it --rm -v '${PWD}:/workdir' -v '${SSH_AUTH_SOCK}:/ssh-agent' \
  -v /var/run/docker.sock:/var/run/docker.sock -e 'SSH_AUTH_SOCK=/ssh-agent' ghcr.io/basecamp/kamal:latest"

  if [[ -z $(command -v "log4brains") ]]; then
    alias log4brains='docker run --rm -ti -v $(pwd):/workdir -p 4004:4004 thomvaill/log4brains'
  fi
fi

{{if eq .location "work"}}
alias repos="cd ~/repos/"
alias rts="cd ~/repos/RTS; tmux_rename RTS"
alias zebra="cd ~/repos/Zebra/; tmux_rename Zebra"
alias wiki="cd ~/repos/DemandResponse.wiki; tmux_rename Wiki"
alias sentinel="cd ~/repos/sentinel; tmux_rename Sentinel"
alias services="cd ~/repos/Services; tmux_rename Services"
{{ end }}

{{ if not .is_macos }}
if [[ -n $(command -v "xclip") ]]; then
  alias pbcopy="xclip -selection c"
  alias pbpaste="xclip -selection c -o"
fi
{{ end }}
