alias hl='printf %"$COLUMNS"s |tr " " "-"'
alias lcl='hl && clear'
alias dotfiles="chezmoi cd"

alias ls='ls --color=auto'
alias ll='ls --color=auto -l'
alias lal='ls --color=auto -al'
alias la='ls --color=auto -a'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

if is_cmd just; then
  alias j='just'

  if [[ -f "$HOME/.user.justfile" ]]; then
    for recipe in $(just --justfile "$HOME/.user.justfile" --summary); do
      alias $recipe="just --justfile $HOME/.user.justfile --working-directory . $recipe"
    done
  fi
fi

{{if eq .location "work"}}
alias devel="cd ~/repos/NOC-Devel/Erlnoc"
alias stable="cd ~/repos/NOC-Stable/Erlnoc"
alias zebra="cd ~/repos/Zebra"
alias repos="cd ~/repos/"
alias thg="tortoisehg 2>/dev/null&"
{{ end }}

