source {{.zdotdir}}/.zprezto/runcoms/zlogin

zcompare() {
  if [[ -s ${1} && ( ! -s ${1}.zwc || ${1} -nt ${1}.zwc) ]]; then
    zcompile ${1}
  fi
}

for file in ${ZDOTDIR:-$HOME}/*.zsh; do
    zcompare ${file}
done

for file in ${ZDOTDIR:-$HOME}/.zfunc/^(*.zwc)(.); do
    zcompare ${file}
done


zcompare "${ZDOTDIR:-$HOME}/.zshrc"
