{{if eq .chezmoi.os "darwin"}}
if [[ -f /opt/homebrew/bin/brew ]]; then
  eval $(/opt/homebrew/bin/brew shellenv)
fi

if is_cmd brew; then
  brew_prefix=$(brew --prefix)
  FPATH=$brew_prefix/share/zsh/site-functions:$FPATH

  if [ -f $brew_prefix/bin/ctags ] && [ ! -h ~/.local/bin/ctags ]; then
    mkdir -p ~/.local/bin
    ln -s $brew_prefix/bin/ctags ~/.local/bin/ctags
  fi
fi
{{end}}

# if [[ -f "$HOME/.asdf/asdf.sh" ]]; then
#   . "$HOME/.asdf/asdf.sh"
# fi

if [[ -d "$HOME/.cache/rebar3" ]]; then
  export PATH="$HOME/.cache/rebar3/bin:$PATH"
fi

if [[ -d "$HOME/.local/share/nvim/mason/bin" ]]; then
  export PATH="$HOME/.local/share/nvim/mason/bin:$PATH"
fi

if [[ -d "$HOME/.moon/bin" ]]; then
  export PATH="$HOME/.moon/bin:$PATH"
fi

if [[ -d "$HOME/.fly/bin" ]]; then
  export FLYCTL_INSTALL="/home/debian/.fly"
  export PATH="$FLYCTL_INSTALL/bin:$PATH"
fi

source_if_exists "$HOME/.cargo/env"
