{{if eq "work" .location}}
Host github.com
  ControlMaster        auto
  ControlPath          ~/.ssh/github.sock
  ControlPersist       30s
  ServerAliveInterval  0
  Compression yes
  IdentityFile ~/.ssh/id_entelios.pub
{{else}}
Host github.com
  ControlMaster        auto
  ControlPath          ~/.ssh/github.sock
  ControlPersist       30s
  ServerAliveInterval  0
  Compression yes
{{- end }}
