{{- if eq .osid "darwin"}}
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  Compression yes
{{else}}
Host *
  Compression yes
  AddKeysToAgent yes
  IgnoreUnknown AddKeysToAgent
{{- end }}

{{if ne .chezmoi.fqdnHostname "debian9.ntls.local"}}
Include config.d/*
{{end}}
