-- vim: ft=lua.chezmoi :
{{- if eq .location "work"}}
local content = {
"                  ▄▓▀█┐                                                           ",
"                 █▀   █▄                                                          ",
"                ▄▀  ▄▓▀▀▀▓▄                                                       ",
"        ▄▓▀▀▀▓▄▄▌ ▄█└     └▀▄                                                     ",
"     ┌▄▀─     ▐█▄█└          ▀▄        █▓▓▓▓         ▄          █ ▐█              ",
"   ▄█▀       ▄▓█└              ▀▄      ▓▄    ╒▄▄▄▄▄ ▄▓▄▄ ▄▄▄▄┐ ▐▓  ▄  ▄▄▄▄▄  ▄▄▄┐ ",
" ╙▀██▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀██▀▀▀▀▀▀▀▀██╙    ▓▀▀▀─ ▐▓  ▐▓  ▓  ▐▓▄▄▄▓─▐▓ ╒▓ ▐█   █▌ █▄▄  ",
"     ▀▓▄           ▄▓▀└       ▄█└      ▓▌▄▄▄ ▐▓  ▐▓  ▓▄┌└█▄┌▄▄ ▐▓ ╒▓ ╘█▄┌▄█┘╒▄┌▐█ ",
"        ▀▓▄┌    ▄▄█└         █▀                                                   ",
"           └▀▀▀╙  ▀▄       ▄█                                                     ",
"                   └█▄   ▄█╙                                                      ",
"                     └▀▀▀└                                                        ",
}
{{ else }}
local content = {
            " ███╗   ██╗ ███████╗ ██████╗  ██╗   ██╗ ██╗ ███╗   ███╗",
            " ████╗  ██║ ██╔════╝██╔═══██╗ ██║   ██║ ██║ ████╗ ████║",
            " ██╔██╗ ██║ █████╗  ██║   ██║ ██║   ██║ ██║ ██╔████╔██║",
            " ██║╚██╗██║ ██╔══╝  ██║   ██║ ╚██╗ ██╔╝ ██║ ██║╚██╔╝██║",
            " ██║ ╚████║ ███████╗╚██████╔╝  ╚████╔╝  ██║ ██║ ╚═╝ ██║",
            " ╚═╝  ╚═══╝ ╚══════╝ ╚═════╝    ╚═══╝   ╚═╝ ╚═╝     ╚═╝",
}
{{ end }}
require("startup").setup {
    -- every line should be same width without escaped \
    header = {
        type = "text",
        oldfiles_directory = false,
        align = "center",
        fold_section = false,
        title = "Header",
        margin = 0,
        content = content,
        highlight = "Type",
        default_color = "",
        oldfiles_amount = 0,
    },
    -- name which will be displayed and command
    body = {
        type = "mapping",
        oldfiles_directory = false,
        align = "center",
        fold_section = false,
        title = "Basic Commands",
        margin = 0,
        content = {
            { " Find File", "Telescope find_files", "<leader>ff" },
            { " Find Word", "Telescope live_grep", "<leader>lg" },
            {" Recent Files", "Telescope oldfiles", "<leader>fo"},
            { " File Browser", "Neotree toggle", "<leader>ee" },
            { " New File", "lua require'startup'.new_file()", "<leader>nf" },
        },
        highlight = "String",
        default_color = "",
        oldfiles_amount = 0,
    },

    dir_files = {
        type = "oldfiles",
        content = "",
        oldfiles_directory = true,
        align = "center",
        fold_section = false,
        title = "",
        margin = 0,
        highlight = "TSString",
        default_color = "#FFFFFF",
        oldfiles_amount = 10,
    },

    footer = {
        type = "text",
        content = require("startup.functions").packer_plugins(),
        oldfiles_directory = false,
        align = "center",
        fold_section = false,
        title = "",
        margin = 0,
        highlight = "TSString",
        default_color = "#FFFFFF",
        oldfiles_amount = 0,
    },

    options = {
        mapping_keys = true,
        cursor_column = 0.5,
        empty_lines_between_mappings = true,
        disable_statuslines = true,
        paddings = { 1, 1, 1, 1 },
        after = function ()
            require("startup.utils").oldfiles_mappings()
        end,
    },
    mappings = {
        execute_command = "<CR>",
        open_file = "o",
        open_file_split = "<c-o>",
        open_section = "<TAB>",
        open_help = "?",
    },
    colors = {
        background = "#1f2227",
        folded_section = "#56b6c2",
    },
    parts = { "header", "body", "footer", "dir_files" },
}
