# vim:ft=gitconfig.chezmoitmpl

# This is Git's per-user configuration file.
[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
  signingKey = {{ .git.signing_key }}

{{- if ne .location "other" }}
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "bc3"]
  trustExitCode = true
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[merge]
  tool = bc3
  conflictstyle = diff3
[mergetool "bc3"]
	trustExitCode = true
[gui]
  pruneduringfetch = true
[smartgit "submodule"]
  fetchalways = false
  update = true
  initializenew = true
{{ end -}}

[alias]
  dft = difftool -t difftastic
  dfts = dft --staged
  fpush = push --force-with-lease
  sw = switch
  res = restore
  prune-branches = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -d

[gc]
	autoDetach = false
[init]
  defaultBranch = main
  templateDir = "{{ .chezmoi.homeDir }}/.git-template"
[core]
  editor = nvim
  pager = delta
[advice]
	detachedHead = false
  skippedCherryPicks = false
[rebase]
  autoStash = true
  updateRefs = true
  autoSquash = true
[push]
	recurseSubmodules = check
	default = current
	autoSetupRemote = true
[commit]
  gpgSign = false
[pull]
  rebase = true
[column]
  ui = auto
[branch]
  sort = -committerdate
[rerere]
  enabled = true
  autoUpdate = true
[delta]
  line-numbers = true
  hunk-header-decoration-style=""
  file-decoration-style=""
  hunk-header-style="syntax"
  hunk-header-file-style="brightblue"
  file-style="brightblue"
  minus-style                   = syntax "#37222c"
  minus-non-emph-style          = syntax "#37222c"
  minus-emph-style              = syntax "#713137"
  minus-empty-line-marker-style = syntax "#37222c"
  line-numbers-minus-style      = "#b2555b"
  plus-style                    = syntax "#20303b"
  plus-non-emph-style           = syntax "#20303b"
  plus-emph-style               = syntax "#2c5a66"
  plus-empty-line-marker-style  = syntax "#20303b"
  line-numbers-plus-style       = "#266d6a"
  line-numbers-zero-style       = "#3b4261"
[absorb]
  autoStageIfNothingStaged = true
