fish_add_path "/opt/homebrew/bin/"
fish_add_path "/opt/homebrew/sbin/"
fish_add_path "/home/linuxbrew/.linuxbrew/bin/"
fish_add_path "/home/linuxbrew/.linuxbrew/sbin/"

if type -q brew
  brew shellenv | source
end

fish_add_path $HOME/.local/bin
fish_add_path $HOME/.cargo/bin
fish_add_path $HOME/.cache/rebar3/bin
fish_add_path $HOME/.local/share/nvim/mason/bin
fish_add_path $HOME/.moon/bin
fish_add_path $HOME/.fly/bin

if status is-interactive

  if type -q most
    set -gx PAGER most
  end

  if type -q devbox
    set -gx SHELL fish
    devbox global shellenv --init-hook | source
  end

  if type -q mise
    fish_add_path $HOME/.local/share/mise/shims
    mise activate fish | source
  end

  if type -q nvim
      set -gx EDITOR nvim
      set -gx VISUAL nvim
  end

  if type -q direnv
    direnv hook fish | source
  end

  atuin init fish | source
  zoxide init fish | source
end
