-- vim: ft=lua.chezmoi :
M = {}
M.load = function(use)

use {
  'sheerun/vim-polyglot',
  config = function()
    vim.g.ployglot_disabled = "autoindent"
  end
}

use {
  'lervag/vimtex',
  config = [[require('plugins.config.vimtex')]],
  ft = { 'tex' }
}

use {
    'nvim-treesitter/nvim-treesitter',
    config = [[require('plugins.config.treesitter')]],
    event = 'VimEnter',
    module = {'nvim-treesitter', 'nvim-treesitter.query'},
    run = function()
            local ts_update = require('nvim-treesitter.install').update({ with_sync = true })
            ts_update()
          end,
}

use {
  'RRethy/nvim-treesitter-endwise',
  after = 'nvim-treesitter',
  config = function()
    require('nvim-treesitter.configs').setup {
      endwise = {
        enable = true,
      },
    }
  end,
  event = 'VimEnter'
}

use {
  'preservim/vim-markdown',
  requires = {
    {'godlygeek/tabular'}
  }
}

use {
  'ziglang/zig.vim'
}

{{- if eq .chezmoi.fqdnHostname "debian9.ntls.local"}}
  use {
    'vim-erlang/vim-erlang-runtime'
  }
{{ end }}

-- TODO:
 -- vim-elixir

 end

 return M
