-- vim: ft=lua.chezmoitmpl :
local M = {}

local function erl_version()
  local handle = io.popen("erl -eval 'erlang:display(erlang:system_info(otp_release)), halt().'  -noshell")
  if not handle then return 0 end
  local output = handle:read('*a')
  local v = output:gsub('[\n\r\"]', '')
  local version = tonumber(v)
  if not version then return 0 end
  return version
end

M.work_config = {{eq .location "work"}}
M.on_d9 = {{eq .chezmoi.fqdnHostname "debian9.ntls.local"}}
M.erl_version = erl_version()
return M
