[ui]
pager = "cat"
default-command = "status"

[user]
name = "{{ .git.name }}"
email = "{{ .git.email }}"

[aliases]
push = ["util", "exec", "--", "jj-pre-push", "--checker", "prek", "push"]
fetch = ["git", "fetch"]

[remotes.origin]
auto-track-created-bookmarks = "*"
