# vim:ft=toml.chezmoitmpl
{{- if eq .location "other" -}}
{{-   template "other/mise_config.toml" -}}
{{- else if .on_d9 -}}
{{-   template "d9/mise_config.toml" -}}
{{- else -}}
{{-   template "mise_config.toml" -}}
{{- end -}}
