# vim:ft=toml.chezmoitmpl

[settings]
experimental = false
cache_prune_age = "14d"
disable_hints = [ "python_multi", "python_precompiled" ]

[tools]
"cargo:eza" = "latest"
"cargo:atuin" = "latest"
"cargo:tree-sitter-cli" = "latest"
"cargo:zoxide" = "latest"
"cargo:tealdeer" = "latest"
"cargo:just" = "latest"
"cargo:difftastic" = "latest"
"cargo:cargo-cache" = "latest"
"cargo:du-dust" = "latest"
pre-commit = "latest"
sops = "latest"
direnv = "latest"
go = "latest"
lua = "latest"
lazydocker = "latest"
lazygit = "latest"
chezmoi = "latest"
watchexec = "latest"
"cargo:cargo-binstall" = "latest"
"cargo:stgit" = "latest"
