# vim:ft=toml.chezmoitmpl

{{- if eq .chezmoi.os "darwin" -}}
{{-   include "config-darwin.toml.tmpl" -}}
{{- else if eq .location "other" -}}
{{-   include "config-other.toml.tmpl" -}}
{{- else -}}
{{-   include "config-main.toml.tmpl" -}}
{{- end -}}
