{ config, pkgs, ... }:
with pkgs;
let
  location = "{{ .location }}";
  withBeam = location == "personal";
  workConfig = location == "work";
in {
  imports = [
    ./programs
    (import ./terminal {
      inherit pkgs;
      inherit workConfig;
    })
    (import ./editors {
      inherit pkgs;
      inherit workConfig;
    })
    (import ./common.nix {
      inherit pkgs;
      inherit workConfig;
      inherit location;
    })
  ];

  # Home Manager needs a bit of information about you and the
  # paths it should manage.
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";

  # This value determines the Home Manager release that your
  # configuration is compatible with. This helps avoid breakage
  # when a new Home Manager release introduces backwards
  # incompatible changes.
  #
  # You can update Home Manager without changing this value. See
  # the Home Manager release notes for a list of state version
  # changes in each release.
  home.stateVersion = "22.05";

  home.packages = [
    tmux
  ] ++ lib.optionals workConfig [ tilix dbeaver git ]
    ++ lib.optionals stdenv.isDarwin (with darwin.apple_sdk.frameworks; [
      CoreFoundation
      CoreServices
      libiconv
      m-cli
    ]);

  targets.genericLinux.enable = stdenv.isLinux;
}
